.table-column-header .filter-button
{
	-fx-background-image: url('filter.png');
	-fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;   
    -fx-background-position: center center;
	-fx-padding: 0 9 0 9 !important;
}

.table-column-header .title
{
	
}

.filter-menu
{
	-fx-padding: 0 0 15 0;
}

.filter-menu .filter-field
{
	-fx-background-color: #EFEFEF;
	-fx-effect: dropshadow(gaussian , rgba(255,255,255, 0.6), 1, 1, 1, 1);
	-fx-effect: innershadow(three-pass-box , rgba(0,0,0,0.5), 6, 0.0, 0, 1);
	-fx-padding: 12 12 12 12;
}

.filter-menu .save-button
{
	-fx-base: #ADD8E6;
}

.filter-menu .cancel-button{}
.filter-menu .reset-button{}

.filter-menu .add-button
{
	-fx-text-fill: #FFFFFF;
	-fx-font-weight: bold;
	-fx-effect: dropshadow( gaussian , rgba(0,0,0, 0.4) , 0,0,0,1 );  
	-fx-base: #ADD8E6;
}